<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd" >
<hibernate-configuration>
  <session-factory>
  	<!-- <property name="connection.url">
  		jdbc:mysql://localhost:3306/erp
  	</property>
  	<property name="connection.username">root</property>
  	<property name="connection.password">YL635901</property>
  	<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
  	<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
  	<property name="show_sql">true</property>
  	<property name="format_sql">true</property>
  	<property name="cache.use_second_level_cache">true</property>
  	<property name="cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
  	<property name="cache.use_query_cache">true</property>
  	<mapping resource="com/yl/entity/Emp.hbm.xml"/>
  	<mapping resource="com/yl/entity/EmpType.hbm.xml"/>
  	<mapping resource="com/yl/entity/EmpJob.hbm.xml"/>
  	<mapping resource="com/yl/entity/EmpRole.hbm.xml"/>
  	<mapping resource="com/yl/entity/EmpSal.hbm.xml"/>
  	<mapping resource="com/yl/entity/EmpSalState.hbm.xml"/> -->
  </session-factory>
</hibernate-configuration>
