<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd ">
	<!-- 配置session工厂 -->	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="url" value="jdbc:mysql://localhost:3306/erp"></property>
		<property name="username" value="root"></property>
		<property name="password" value="YL635901"></property>
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
	</bean>
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="mappingDirectoryLocations">
			<list>
				<value>classpath:com/yl/entity/</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
			</props>
		</property>
	</bean>
	
	<!-- 登录部分 -->
	<bean id="checkAction" class="com.yl.action.CheckAction" scope="prototype">
		<property name="biz" ref="empBiz"></property>
	</bean>
	
	<!-- 验证码部分 -->
	<bean id="validateAction" class="com.yl.action.ValidateAction" scope="prototype"></bean>
	
	<!-- 任务部分 -->
	<bean id="taskDao" class="com.yl.dao.impl.TaskDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="taskBiz" class="com.yl.biz.impl.TaskBizImpl">
		<property name="dao" ref="taskDao"></property>
	</bean>
	<bean id="taskAction" class="com.yl.action.TaskAction">
		<property name="tbiz" ref="taskBiz"></property>
		<property name="pbiz" ref="proBiz"></property>
		<property name="mbiz" ref="modBiz"></property>
		<property name="fbiz" ref="funBiz"></property>
		<property name="ebiz" ref="empBiz"></property>
		<property name="ppbiz" ref="proPriorityBiz"></property>
	</bean>
	
	<!-- 消息部分 -->
	<bean id="messDao" class="com.yl.dao.impl.MessDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="messBiz" class="com.yl.biz.impl.MessBizImpl">
		<property name="dao" ref="messDao"></property>
	</bean>
	<bean id="messAction" class="com.yl.action.MessAction" scope="prototype">
		<property name="mbiz" ref="messBiz"></property>
		<property name="ebiz" ref="empBiz"></property>
	</bean>
	
	<!-- 项目部分 -->
	<bean id="proDao" class="com.yl.dao.impl.ProDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="proBiz" class="com.yl.biz.impl.ProBizImpl">
		<property name="dao" ref="proDao"></property>
	</bean>
	<bean id="proPriorityDao" class="com.yl.dao.impl.ProPriorityDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="proPriorityBiz" class="com.yl.biz.impl.ProPriorityBizImpl">
		<property name="dao" ref="proPriorityDao"></property>
	</bean>
	<bean id="proStateDao" class="com.yl.dao.impl.ProStateDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="proStateBiz" class="com.yl.biz.impl.ProStateBizImpl">
		<property name="dao" ref="proStateDao"></property>
	</bean>
	<bean id="proAction" class="com.yl.action.ProAction" scope="prototype">
		<property name="biz" ref="proBiz"></property>
		<property name="pbiz" ref="proPriorityBiz"></property>
		<property name="sbiz" ref="proStateBiz"></property>
	</bean>
	
	<!-- 模块部分 -->
	<bean id="modDao" class="com.yl.dao.impl.ProModDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="modBiz" class="com.yl.biz.impl.ProModBizImpl">
		<property name="dao" ref="modDao"></property>
	</bean>
	<bean id="modPriorityDao" class="com.yl.dao.impl.ProModPriorityDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="modPriorityBiz" class="com.yl.biz.impl.ProModPriorityBizImpl">
		<property name="dao" ref="modPriorityDao"></property>
	</bean>
	<bean id="modAction" class="com.yl.action.ProModAction" scope="prototype">
		<property name="mbiz" ref="modBiz"></property>
		<property name="pbiz" ref="modPriorityBiz"></property>
		<property name="biz" ref="proBiz"></property>
	</bean>
	
	<!-- 功能部分 -->
	<bean id="funDao" class="com.yl.dao.impl.ProFunDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="funBiz" class="com.yl.biz.impl.ProFunBizImpl">
		<property name="dao" ref="funDao"></property>
	</bean>
	<bean id="funPriorityDao" class="com.yl.dao.impl.ProFunPriorityDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="funPriorityBiz" class="com.yl.biz.impl.ProFunPriorityBizImpl">
		<property name="dao" ref="funPriorityDao"></property>
	</bean>
	<bean id="funAction" class="com.yl.action.ProFunAction" scope="prototype">
		<property name="pbiz" ref="funPriorityBiz"></property>
		<property name="fbiz" ref="funBiz"></property>
		<property name="mbiz" ref="modBiz"></property>
	</bean>
	
	<!-- 项目上传和下载 -->
	<bean id="fileDao" class="com.yl.dao.impl.FileDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="fileBiz" class="com.yl.biz.impl.FileBizImpl">
		<property name="dao" ref="fileDao"></property>
	</bean>
	<bean id="fileAction" class="com.yl.action.FileAction" scope="prototype">
		<property name="fbiz" ref="fileBiz"></property>
		<property name="pbiz" ref="proBiz"></property>
	</bean>
	
	<!-- 员工部分 -->
	<bean id="empDao" class="com.yl.dao.impl.EmpDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="empBiz" class="com.yl.biz.impl.EmpBizImpl">
		<property name="dao" ref="empDao"></property>
	</bean>
	<bean id="empSalDao" class="com.yl.dao.impl.EmpSalDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>	
	<bean id="empSalBiz" class="com.yl.biz.impl.EmpSalBizImpl">
		<property name="dao" ref="empSalDao"></property>
	</bean>
	<bean id="empTypeDao" class="com.yl.dao.impl.EmpTypeDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>	
	<bean id="empTypeBiz" class="com.yl.biz.impl.EmpTypeBizImpl">
		<property name="dao" ref="empTypeDao"></property>
	</bean>
	<bean id="empJobDao" class="com.yl.dao.impl.EmpJobDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>	
	<bean id="empJobBiz" class="com.yl.biz.impl.EmpJobBizImpl">
		<property name="dao" ref="empJobDao"></property>
	</bean>
	<bean id="empRoleDao" class="com.yl.dao.impl.EmpRoleDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>	
	<bean id="empRoleBiz" class="com.yl.biz.impl.EmpRoleBizImpl">
		<property name="dao" ref="empRoleDao"></property>
	</bean>
	<bean id="empSalStateDao" class="com.yl.dao.impl.EmpSalStateDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>	
	<bean id="empSalStateBiz" class="com.yl.biz.impl.EmpSalStateBizImpl">
		<property name="dao" ref="empSalStateDao"></property>
	</bean>
	<bean id="empSalTypeDao" class="com.yl.dao.impl.EmpSalTypeDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="empSalTypeBiz" class="com.yl.biz.impl.EmpSalTypeBizImpl">
		<property name="dao" ref="empSalTypeDao"></property>
	</bean>
	<bean id="empAction" class="com.yl.action.EmpAction" scope="prototype">
		<property name="ebiz" ref="empBiz"></property>
		<property name="tbiz" ref="empTypeBiz"></property>
		<property name="jbiz" ref="empJobBiz"></property>
		<property name="rbiz" ref="empRoleBiz"></property>
		<property name="sbiz" ref="empSalBiz"></property>
		<property name="ssbiz" ref="empSalStateBiz"></property>
		<property name="biz" ref="empSalTypeBiz"></property>
	</bean>
	
	<!-- 客户部分 -->
	<bean id="clientDao" class="com.yl.dao.impl.ClientDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="clientBiz" class="com.yl.biz.impl.ClientBizImpl">
		<property name="dao" ref="clientDao"></property>
	</bean>
	<bean id="clientAction" class="com.yl.action.ClientAction" scope="prototype">
		<property name="biz" ref="clientBiz"></property>
	</bean>
	
	<!-- 配置事物管理 -->
	<bean id="tm" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- 配置事物通知 -->
	<tx:advice id="advice" transaction-manager="tm">
		<tx:attributes>
			<tx:method name="find*" read-only="true"/>
			<tx:method name="get*" read-only="true"/>
			<tx:method name="save*" propagation="REQUIRED" isolation="DEFAULT"/>
			<tx:method name="update*" propagation="REQUIRED" isolation="DEFAULT"/>
			<tx:method name="del*" propagation="REQUIRED" isolation="DEFAULT"/>
			<tx:method name="remove*" propagation="REQUIRED" isolation="DEFAULT"/>
		</tx:attributes>
	</tx:advice>
	
	<!-- 织入通知 -->
	<aop:config>
		<aop:pointcut expression="execution(* com.yl.biz.*.*(..))" id="serviceMethod"/>
		<aop:advisor advice-ref="advice" pointcut-ref="serviceMethod"/>
	</aop:config>
</beans>